.logo {
    float: left;
    height: 50px;
}

.main-nav {
    margin-top: 13px;
    float: right;
}

.link {
    color: blue;
    float: left;
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}
.link:last-child {
    margin-right: 0;
}
.link:hover {
    background-color: red;
}
